<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Văn Hóa</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/theloai.css">
    <link rel="stylesheet" href="./assets/css/index.css">
  
</head>
<body>
    
        <ul>
            <li class="current-menu-item" style="list-style-type: none;">
                <a href="index.html"><img src="./assets/img/logologin.png" alt="" style="width: 150px;  border-radius: 50px;"></a>

            </li>
            
        </ul>
        
    
    
        
    </nav>
        </div>
        <div class="main">
            <div class=" box slidebar-1">
                <div class="inner-box">
                    <div class="inner-logo">
                        <img src="./assets/img/thethao1.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="thethao.html">M.U - Tottenham: Quyết định chiếc ghế HLV Erik ten Hag</a></h1>
                        <p>Trận đấu giữa M.U gặp Tottenham lúc 22 giờ 30 ngày 29.9 (giờ VN) trên sân Old Trafford sẽ mang tính quyết định số phận chiếc ghế đang lung lay của HLV Erik ten Hag, theo kênh Sky Sports (Anh).</p>
                    </div>
                    
                
                
                </div>
                
              
                
            </div>
            <div class=" box article">
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/thethao3.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/messi-ghi-sieu-pham-inter-miami-hoa-tran-thu-3-ngoi-dau-mls-van-dung-vung-185240929091423681.htm">Messi ghi siêu phẩm, Inter Miami hòa trận thứ 3, ngôi đầu MLS vẫn đứng vững</a></h1>
                        <p> Sáng 29.9, Messi thi đấu trong đội hình chính và ghi bàn tuyệt đẹp giúp Inter Miami gỡ hòa với tỷ số 1-1 trước đối thủ khó nhằn Charlotte FC. Trong khi đối thủ cạnh tranh Columbus Crew cũng bị DC United thủ hòa 2-2.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/theothao4.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/lich-thi-dau-v-league-moi-nhat-hom-nay-nong-nhung-tran-derby-mien-trung-18524092822583377.htm">Lịch thi đấu V-League mới nhất hôm nay: Nóng những trận derby miền Trung</a></h1>
                        <p> Tâm điểm ở vòng 3 diễn ra hôm nay (29.9) đều dồn về những trận "derby miền Trung" với các cặp đấu đầy duyên nợ.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/thethao5.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/lich-thi-dau-billiards-hom-nay-niem-hy-vong-cua-viet-nam-gap-so-1-the-gioi-185240929005402413.htm">Lịch thi đấu billiards hôm nay: Niềm hy vọng của Việt Nam gặp số 1 thế giới</a></h1>
                        <p> Niềm hy vọng duy nhất của Việt Nam là Trần Thanh Lực sẽ tranh vé vào chơi trận chung kết với cơ thủ đang đứng số 1 thế giới, tại giải billiards carom 3 băng vô địch thế giới (World Championship) 2024 đang diễn ra ở TP.Phan Thiết.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/thethao6.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/bo-roi-lamine-yamal-hlv-hansi-flick-thua-nhan-su-that-cay-dang-cua-barcelona-185240929083108053.htm">Bỏ rơi Lamine Yamal, HLV Hansi Flick thừa nhận sự thật cay đắng của Barcelona</a></h1>
                        <p> HLV Hansi Flick đã thừa nhận sự thật cay đắng của Barcelona, khi phải xoay vòng cầu thủ và nhận thất bại choáng váng đầu tiên ở mùa giải La Liga trước Osasuna với tỷ số 2-4 ngày 29.9. Ngôi sao trẻ Lamine Yamal phải ngồi dự bị.</p>
                    </div>
                </div>
                
            </div>
            
            
            
            

            <!-- <div class=" box sliderbar-2">
                Slider 2
            </div> -->
            <div class="clear-fix"></div>
        </div>
        <div class="box footer">
            Footer
        </div>
</body>
</html>