<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Văn Hóa</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/theloai.css">
    <link rel="stylesheet" href="./assets/css/index.css">
  
</head>
<body>
    
        <ul>
            <li class="current-menu-item" style="list-style-type: none;">
                <a href="index.html"><img src="./assets/img/logologin.png" alt="" style="width: 150px;  border-radius: 50px;"></a>

            </li>
            
        </ul>
        
    
    
        
    </nav>
        </div>
        <div class="main">
            <div class=" box slidebar-1">
                <div class="inner-box">
                    <div class="inner-logo">
                        <img src="./assets/img/vanhoa1.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/pgs-dang-bich-ha-kien-thuc-lich-su-lam-hoan-hao-vai-tro-menh-phu-phu-nhan-185240928225003381.htm">PGS Đặng Bích Hà - kiến thức lịch sử làm hoàn hảo vai trò mệnh phụ phu nhân</a></h1>
                        <p>"Con người bà Đặng Bích Hà toát ra tính cách nhân văn rất lớn. Có chồng làm lớn (Đại tướng Võ Nguyên Giáp, Ủy viên Bộ Chính trị, Phó thủ tướng kiêm Bộ trưởng Bộ Quốc phòng, Tổng tư...</p>
                    </div>

                </div>
                
              
                
            </div>
            <div class=" box article">
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/vanhoa2.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="vanhoa.html">Chuyện 'con nhà nòi' đóng phim</a></h1>
                        <p> Gần đây, nhiều diễn viên trẻ là con của các nghệ sĩ nổi tiếng tham gia đóng phim, đang thu hút sự chú ý của khán giả.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/vanhoa3.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/goc-ky-hoa-vuon-hoa-ly-thai-to-185240928202143119.htm">Góc ký họa: Vườn hoa Lý Thái Tổ</a></h1>
                        <p> Sau khi tặng Mỹ bức tượng đồng Nữ thần tự do (một trong những biểu tượng của nước Mỹ) đặt tại New York, ít người biết rằng chỉ một năm sau, năm 1887, Pháp cũng tặng Việt Nam một phiên bản mini 
                            tượng Nữ thần tự do bằng đồng cao gần 3 m (do tượng nữ thần bận váy nên người dân còn gọi là tượng bà đầm xòe).</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/vanhoa4.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/tu-dinh-chiem-den-dinh-tran-quang-nam-185240928200826796.htm">Từ dinh Chiêm đến dinh trấn Quảng Nam</a></h1>
                        <p> Học giả Nguyễn Đình Đầu vừa qua đời tại TP.HCM ở tuổi 104. Ông để lại cho hậu thế một sự nghiệp nghiên cứu đồ sộ với những tác phẩm quan trọng, trong đó có 'Tạp ghi Việt Sử Địa' tập hợp những ghi chép của ông về văn hóa, địa lý và lịch sử dân tộc, cùng tiểu sử một số nhân vật mà ông cho rằng "bị đánh giá công tội khác nhau",
                             từ nhiều tư liệu và góc nhìn mới của ông. Thanh Niên xin trân trọng trích giới thiệu tác phẩm đến bạn đọc.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/vanhoa5.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="#">'Anh trai say hi' tặng 1.000 vé đêm concert 2 cho sinh viên TP.HCM</a></h1>
                        <p> LKhông ngoài dự đoán, đêm concert đầu tiên của 'Anh trai say hi' đã mang đến những khoảnh khắc bùng nổ và nhiều giây phút bùi ngùi để các nghệ sĩ cũng như khán giả có thể nhìn lại chặng đường đã qua.</p>
                    </div>
                </div>
                
            </div>
            
            
            
            

            <!-- <div class=" box sliderbar-2">
                Slider 2
            </div> -->
            <div class="clear-fix"></div>
        </div>
        <div class="box footer">
            Footer
        </div>
</body>
</html>