<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Văn Hóa</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/theloai.css">
    <link rel="stylesheet" href="./assets/css/index.css">
  
</head>
<body>
    
        <ul>
            <li class="current-menu-item" style="list-style-type: none;">
                <a href="index.html"><img src="./assets/img/logologin.png" alt="" style="width: 150px;  border-radius: 50px;"></a>

            </li>
            
        </ul>
        
    
    
        
    </nav>
        </div>
        <div class="main">
            <div class=" box slidebar-1">
                <div class="inner-box">
                    <div class="inner-logo">
                        <img src="./assets/img/phapluat1.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="phapluat.html">Xét xử vụ thứ 2 giữa Công ty Sen Vàng và Bệnh viện thẩm mỹ Nam An</a></h1>
                        <p>Sáng mai (29.9), TAND Q.Bình Thạnh, TP.HCM sẽ xét xử sơ thẩm vụ kiện thứ 2 giữa
                             Bệnh viện thẩm mỹ Nam An và Công ty Sen Vàng liên quan đến giám khảo cuộc thi
                              Miss Grand International 2023 (Hoa hậu Hòa bình Quốc tế 2023).</p>
                    </div>
                    
                
                </div>
                
              
                
            </div>
            <div class=" box article">
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/phapluat2.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/tu-112025-csgt-duoc-truy-duoi-neu-nguoi-vi-pham-bo-chay-185240928235230312.htm">Từ 1.1.2025, CSGT được truy đuổi nếu người vi phạm bỏ chạy</a></h1>
                        <p> CSGT được quyền truy đuổi nếu người điều khiển phương tiện tham gia giao thông đường bộ không chấp hành tín hiệu, hiệu lệnh dừng phương tiện và bỏ chạy.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/phapluat3.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/truong-my-lan-nhan-trach-nhiem-ve-nhom-toi-van-chuyen-trai-phep-45-ti-usd-qua-bien-gioi-185240926231603555.htm">Trương Mỹ Lan nhận trách nhiệm về nhóm tội vận chuyển trái phép 4,5 tỉ USD qua biên giới</a></h1>
                        <p> Hôm qua (26.9), ngày thứ 6 xét xử sơ thẩm, HĐXX của TAND TP.HCM đã thẩm vấn xong bị cáo Trương Mỹ Lan (cựu Chủ tịch Tập đoàn Vạn Thịnh Phát)
                             và 8 bị cáo trong nhóm tội danh vận chuyển trái phép qua biên giới hơn 4,5 tỉ USD (tương đương 106.730 tỉ đồng).</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/phapluat4.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/si-quan-quan-doi-sap-duoc-dai-ngo-nhieu-chinh-sach-185240926201812425.htm">Sĩ quan quân đội sắp được đãi ngộ nhiều chính sách</a></h1>
                        <p> Theo dự thảo luật, sĩ quan Quân đội nhân dân Việt Nam sẽ được tăng
                             thêm độ tuổi nghỉ hưu nên sẽ được hưởng mức lương hưu cao nhất là 75%, được quan tâm đến chế độ nhà ở.</p>
                    </div>
                </div>
                <div class="innerbox-2">
                    <div class="inner-logo">
                        <img src="./assets/img/phapluat5.jpg" alt="">
                    </div>
                    <div class="inner-content">
                        <h1><a href="https://thanhnien.vn/cong-an-tphcm-pha-4-chuyen-an-thu-795-kg-ma-tuy-tong-hop-48-banh-heroin-185240928131507313.htm">Công an TP.HCM phá 4 chuyên án, thu 79,5 kg ma túy tổng hợp, 48 bánh heroin</a></h1>
                        <p> Công an TP.HCM đã đấu tranh, triệt phá 4 đường dây mua bán, vận chuyển trái phép chất ma túy với số lượng lớn; bắt giữ 34 đối tượng; thu giữ 79,5 kg ma túy tổng hợp, 48 bánh heroin và 2 khẩu súng cùng nhiều vật chứng khác.</p>
                    </div>
                </div>
                
            </div>
            
            
            
            

            <!-- <div class=" box sliderbar-2">
                Slider 2
            </div> -->
            <div class="clear-fix"></div>
        </div>
        <div class="box footer">
            Footer
        </div>
</body>
</html>