<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ASM_JAVA3_PD10267</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>Controller.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dangxuat</display-name>
    <servlet-name>Dangxuat</servlet-name>
    <servlet-class>Controller.Dangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dangxuat</servlet-name>
    <url-pattern>/Thoat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKy</display-name>
    <servlet-name>DangKy</servlet-name>
    <servlet-class>Controller.DangKy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKy</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doimatkhau</display-name>
    <servlet-name>Doimatkhau</servlet-name>
    <servlet-class>Controller.Doimatkhau</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doimatkhau</servlet-name>
    <url-pattern>/matkhau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatthongtin</display-name>
    <servlet-name>CapNhatthongtin</servlet-name>
    <servlet-class>Controller.CapNhatthongtin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatthongtin</servlet-name>
    <url-pattern>/Suathongtin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>Controller.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>Controller.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usermanger</display-name>
    <servlet-name>Usermanger</servlet-name>
    <servlet-class>Controller.Usermanger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usermanger</servlet-name>
    <url-pattern>/Usermanger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newsletter</display-name>
    <servlet-name>Newsletter</servlet-name>
    <servlet-class>Controller.Newsletter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newsletter</servlet-name>
    <url-pattern>/Newsletter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>theloaithethao</display-name>
    <servlet-name>theloaithethao</servlet-name>
    <servlet-class>Controller.theloaithethao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>theloaithethao</servlet-name>
    <url-pattern>/theloaithethao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>theloaiphapluat</display-name>
    <servlet-name>theloaiphapluat</servlet-name>
    <servlet-class>Controller.theloaiphapluat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>theloaiphapluat</servlet-name>
    <url-pattern>/theloaiphapluat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>theloaivanhoa</display-name>
    <servlet-name>theloaivanhoa</servlet-name>
    <servlet-class>Controller.theloaivanhoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>theloaivanhoa</servlet-name>
    <url-pattern>/theloaivanhoa</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Chitiet</display-name>
    <servlet-name>Chitiet</servlet-name>
    <servlet-class>Controller.Chitiet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chitiet</servlet-name>
    <url-pattern>/Chitiet</url-pattern>
  </servlet-mapping>
</web-app>